@model BugTracker.Models.Project

@{
    ViewData["Title"] = "Create";
}


<section class="form">
    <h1 class="title">Create Project</h1>
    <div class="form-wrap">
        <form id="create-project" asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input type="text" class="date-time" id="datepicker" asp-for="Deadline" placeholder="Pick a date..."/>
                <span asp-validation-for="Deadline"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
    <div>
        <a class="lower-btn" asp-action="Index">Back to List</a>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function dtTimePicker() {
            $("#datepicker").datepicker({
                dateFormat: 'dd-MM-yy',
                changeMonth: true,
                changeYear: true,
                minDate: new Date()
            });
        });
    </script>
}
